@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ----------------------------------------------------------
  Root Variables
---------------------------------------------------------- */
:root {
  --color-border: #ffffff5d;
  --color-font: #ffffff;

  --leftColumn-text-align-left: left;
  --leftColumn-text-align-center: center;

  --fontSize-h1: clamp(2.4883rem, 1.7616rem + 3.6336vw, 4.5776rem);
  --fontSize-h2: clamp(1.728rem, 1.31rem + 2.0899vw, 2.9297rem);
  --fontSize-h3: clamp(1.2rem, 0.9652rem + 1.1739vw, 1.875rem);
  --fontSize-h5: clamp(0.6944rem, 0.6021rem + 0.4618vw, 0.96rem);
  --fontSize-p: clamp(0.6944rem, 0.6021rem + 0.4618vw, 0.96rem);

  --button-size: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --button-svg: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);

  --profilePicture: clamp(5rem, 4.1304rem + 4.3478vw, 7.5rem);
}
/* ----------------------------------------------------------
  Reset Styles
---------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------
  Global Styles
---------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(img/dark-bg.webp);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* wrapper and wrapper grid
------------------------------
*/
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
}
.wrapper-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 32px;
  align-items: center;
}

/* right column
----------------------------------------------------------
*/
.right-column {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 150px 3fr;
  gap: 16px;
  align-content: center;
  position: relative;
  height: fit-content;
}

/* left column
----------------------------------------------------------
*/
.left-column {
  display: flex;
  align-items: center;
}

/* left column top container
----------------------------------------------------------
*/
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 2rem;
  row-gap: 1rem;
}
.top-container h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--fontSize-h1);
  color: var(--color-font);
  text-align: var(--leftColumn-text-align-left);
  text-shadow: 0 0 10px var(--color-font);
}
.top-container h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fontSize-h3);
  color: var(--color-font);
  text-align: var(--leftColumn-text-align-left);
  text-shadow: 0 0 10px var(--color-font);
}
.top-container img {
  height: var(--profilePicture);
  width: var(--profilePicture);
  border-radius: 100px;
  border: solid 1px var(--color-border);
}
.bottom-container {
  padding-top: 3rem;
  padding-left: 2rem;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 20px;
  align-items: end;
}
.bottom-container div {
  background: #d1d1d14f;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: solid var(--color-border) 1px;
  padding: 1em;
  border-radius: 50%;
  height: var(--button-size);
  width: var(--button-size);
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transition: 300ms ease-in-out;
  cursor: pointer;
  position: relative;
  justify-content: center;
  align-items: center;
}
.bottom-container div svg {
  width: var(--button-svg);
}
.bottom-container div::before {
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  border: solid var(--color-border) 1px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(0px);
  opacity: 0;
  transition: 300ms ease-in-out;
}
.bottom-container div:hover {
  background-color: var(--accent-color);
  fill: white;
}
.bottom-container div:hover::before {
  opacity: 1;
  transform: translateY(-60px);
}

/* aboutPopup, socialPopup, contactPopup button wrapper 
----------------------------------------------------------
*/
.socialButtonStyle,
.aboutButtonStyle,
.contactButtonStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* aboutPopupStyle, socialPopup, contactPopup background 
----------------------------------------------------------
*/
.socialPopupStyle,
.aboutPopupStyle,
.contactPopupStyle {
  display: flex;
  opacity: 0;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

/* aboutPopup, socialPopup, contactPopup Content area 
----------------------------------------------------------
*/
.socialPopupContent {
  position: relative;
  background: #d1d1d14f;
  margin: auto;
  padding: 0;
  border: solid var(--color-border) 1px;
  border-radius: 40px;
  width: 50vh;
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
}
.aboutPopupContent {
  position: relative;
  background: #d1d1d14f;
  margin: auto;
  padding: 0;
  border: solid var(--color-border) 1px;
  border-radius: 40px;
  width: 60vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
}
.contactPopupContent {
  position: relative;
  background: #d1d1d14f;
  margin: auto;
  padding: 0;
  border: solid var(--color-border) 1px;
  border-radius: 40px;
  width: 60vw;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;
}

/* aboutPopup, socialPopup, contactPopup Content 
----------------------------------------------------------
*/
.socialPopupContentGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  height: 100%;
}
.socialPopupContentGrid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socialPopupContentGrid div svg {
  width: 50px;
  height: 50px;
  fill: white;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
.socialPopupContentGrid div svg:hover {
  transform: scale(1.2);
}
.socialPopupContentGrid div h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fontSize-h5);
  color: var(--color-font);
  line-height: 1.5rem;
  margin: 0;
}
.aboutPopupContentGrid {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.aboutPopupContent h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--fontSize-h2);
  color: var(--color-font);
}
.aboutPopupContent p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fontSize-p);
  line-height: 1.5rem;
  color: var(--color-font);
}
.aboutPopupContent img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.contactPopupContentGrid {
  display: flex;
  flex-direction: column;
  padding: 32px;
}
.contactPopupContent h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--fontSize-h2);
  color: var(--color-font);
}
.contactPopupContent p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fontSize-p);
  line-height: 1.5rem;
  color: var(--color-font);
}

/* aboutPopup, socialPopup close button 
----------------------------------------------------------
*/
.socialClose {
  position: absolute;
  left: 50vh;
  top: -2rem;
  color: var(--color-font);
  transition: 150ms ease-in-out;
}
.aboutClose,
.contactClose {
  position: absolute;
  left: 60vw;
  top: -2rem;
  color: var(--color-font);
  transition: 150ms ease-in-out;
}
.socialClose:hover,
.socialClose:focus,
.aboutClose:hover,
.aboutClose:focus,
.contactClose:hover,
.contactClose:focus {
  transform: scale(1.5);
  text-decoration: none;
  cursor: pointer;
}
.socialClose svg,
.aboutClose svg,
.contactClose svg {
  height: 2rem;
}

/* Contact form
----------------------------------------------------------
*/
.form-label {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: var(--fontSize-p);
  line-height: 1.5rem;
  color: var(--color-font);
}
.formLayout {
  display: flex;
  flex-direction: column;
}
.formLayout div:nth-child(odd) {
  padding-top: 32px;
}
#name,
#email,
#message {
  width: 100%;
  border-radius: 20px;
  border: solid var(--color-border) 1px;
  padding-left: 0.5rem;
  background-color: #fff;
}

/* Carousel
----------------------------------------------------------
*/
.d-block {
  border-radius: 30px;
}

/* Banner backgrounds
----------------------------------------------------------
 */
.banner-1,
.banner-2 {
  display: flex;
  justify-content: end;
  align-items: end;
  background-color: #ffffff38;
  transition: 300ms ease-in-out;
  border-radius: 30px;
  border: solid 1px var(--color-border);
  position: relative;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
}
.banner-1 {
  grid-row-start: 1;
  grid-row-end: -1;
}
.banner-1 img,
.banner-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
}
.banner-1::before {
  content: "Learn More ▸";
  transition: 300ms ease-in-out;
  opacity: 0;
  transform: translateX(-50px);
  color: var(--color-font);
  position: absolute;
  padding: 16px;
  pointer-events: none;
}
.banner-2::before {
  content: "View More ▸";
  transition: 300ms ease-in-out;
  opacity: 0;
  transform: translateX(-50px);
  color: var(--color-font);
  position: absolute;
  padding: 16px;
  pointer-events: none;
}
.banner-1:hover,
.banner-2:hover {
  transform: scale(1);
}
.banner-1 img:hover,
.banner-2 img:hover {
  z-index: -1;
  filter: brightness(0.75);
  transform: scale(1.1);
}
.banner-1:hover::before,
.banner-2:hover::before {
  transform: translateX(0);
  opacity: 1;
}

/* Buttons
----------------------------------------------------------
 */
.button-div {
  position: absolute;
  z-index: 2;
  padding-top: 32px;
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: start;
}
#div1,
#div2 {
  transition-property: opacity;
  transition-duration: 500ms;
  transition-behavior: allow-discrete;
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#div1 {
  opacity: 1;
}
#div2 {
  opacity: 0;
  z-index: -1;
}

/* Buttons
----------------------------------------------------------
 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded Sliders
----------------------------------------------------------
 */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.carousel {
  border: solid 1px var(--color-border);
  border-radius: 30px;
}
/* Breakpoints
----------------------------------------------------------
 */
@media only screen and (max-width: 576px) {
  .wrapper {
    padding: 12vh 10vw;
  }
  .wrapper-grid {
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    column-gap: 0;
    row-gap: 16px;
    overflow: hidden;
  }
  .top-container {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding-left: 0;
    align-items: center;
  }
  .top-container h1 {
    color: var(--color-font);
    text-align: var(--leftColumn-text-align-center);
    margin: 0;
  }
  .top-container h3 {
    color: var(--color-font);
    text-align: var(--leftColumn-text-align-center);
    margin: 0;
  }
  .bottom-container {
    padding-left: 0;
    padding-top: 0.5rem;
    justify-content: center;
  }
  .bottom-container div {
    justify-content: center;
    align-items: center;
  }
  .bottom-container div:hover::before {
    transform: translateY(-40px);
  }
  .bottom-container div::before {
    padding: 4px 8px;
    font-size: 12px;
  }
  #div1,
  #div2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .button-div {
    position: relative;
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 0;
  }
  .switch {
    width: 32px;
    height: 16px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .slider:before {
    height: 12px;
    width: 12px;
    bottom: 2px;
    left: 2px;
  }
  .banner-1,
  .banner-2,
  .carousel,
  .d-block {
    border-radius: 15px;
  }
  .aboutPopupContent {
    width: 80vw;
  }
  .aboutClose {
    left: 80vw;
  }
  .aboutPopupContent p {
    line-height: 1.05rem;
  }
  .socialPopupContent {
    width: 40vh;
    height: 40vh;
  }
  .socialPopupContentGrid div svg {
    width: 30px;
    height: 30px;
  }
  .socialClose {
    left: 40vh;
  }
  .contactPopupContent {
    width: 80vw;
  }
  .contactPopupContent p {
    line-height: 1.05rem;
  }
  .contactClose {
    left: 80vw;
  }
  .formLayout div:nth-child(odd) {
    padding-top: 8px;
  }
}
